html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.form-wrapper {
    max-width: 350px;
    padding: 1em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img {
    width: 40em;
}

.img-faq {
    width: 100vw;
    height: 30vh;

}

table {
    margin-top: 3em;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    color: #222121;
}

.titulo {
    margin-bottom: 3em;
}

.tags {
    margin-top: 3em;
}